@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}
body{
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background-color: rgb(17, 19, 27);
  
}
section{
  background-color: #22252D;
  height: 500px;
  width: 250px;
  border-radius: 10px;
}

.buttons button{
  height: 100%;
  width: 100%;
  border-radius: 10px;
  border: hidden;
  font-size: medium;
  font-weight: 600;
  cursor: pointer;
  background-color: #22252D;
  color: #fff;
  transition: 0.3s;
}
.buttons button:hover{
  background-color: #22252d84;
}
.buttons{
  height: 300px;
  width: 250px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: 3px 3px;
  background-color: #272C34;
  padding: 30px 15px;
  border-radius: 25px 25px 10px 10px;
}
.buttons .green{
  color: #26F1CD;
}
.buttons .red{
  color: #D45F60;
}
.full-result{
  display: flex;
  flex-direction: column;
  padding-left: 15px;
  /* align-content: left; */
  margin: 0px 20px 20px 0px;
  
}
.result{
  color: white;
  font-size: 28px;
  font-weight: 600;
}
input{
  font-size: 18px;
  color: #fff;
  background-color: #22252D;
  border-bottom: 1px solid #26F1CD;
  border-right: none;
  border-left: none;
  border-top: none;
  outline: 0;
}

.container{
  padding-top: 120px;
}